* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.nav-container {
    display: flex;
    flex-direction: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* Nav bar links */

.nav-bar-left {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-top: 10px;
}

.nav-bar-right {
    display: flex;
    padding-left: 25px;
    padding-top: 10px;
}

.nav-container li {
    display: inline-block;
    margin: 0 5px;
    font-size: 13px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.content-container .form-container form {
    position: relative;
}

.content-container .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: auto;
    padding-top: 60px;
}

.logo img {
    width: auto;
    height: auto;
}

.form-container {}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    background-color: #eee;
    border: 2px solid red;
}

.footer .Info {}

.footer.Message {
    display: flex;
    align-items: center;
    justify-content: center;
}